*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(lightgreen,orange);
    color:darkblue;
    font-size: 40px;
    font-family: cursive;
}
.main-container{
    height: 100vh;
    width: 100vw;
}
.head{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}
.btn{
    width: 70px;
    height: 40px;
    background: linear-gradient(cyan,lightgreen);
}
.btn:hover{
    background: linear-gradient(yellow,orange);
    cursor: pointer;
}
.container-1{
    margin-top: 50px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkred;
}